#inventory-container {
    font: 13px Helvetica;
    padding: 0 0 0 2px;
    display: inline-block;
    vertical-align: top;
}
#container {
    width: 384px;
    height: 384px;
    overflow: hidden;
    position: relative;
    display: inline-block;
}
#world {
    line-height: 0;
    position: relative;
    left: 0;
    top: 0;
}
#inner {
    line-height: 0;
    position: relative;
    left: 0;
    top: 0;
}

.player {
    position: absolute;
    transition: all 0.1s ease;
    left: 0; top: 0;
    background-color: red;
    width: 32px;
    height: 32px;
    background-image: url(http://i.imgur.com/MZg0XUl.png);
    background-position: -128px 0;
    background-size: 480px;
}
.enemy {
    position: absolute;
    transition: all 0.1s ease;
    left: 0; top: 0;
    background-color: #000099;
    width: 32px;
    height: 32px;
    background-image: url(http://i.imgur.com/MZg0XUl.png);
    background-position: -192px -224px;
    background-size: 480px;
}
.wizard {
    position: absolute;
    transition: all 0.1s ease;
    left: 0; top: 0;
    width: 32px;
    height: 32px;
    background-image: url(http://i.imgur.com/MZg0XUl.png);
    background-position: -160px -224px;
    background-size: 480px;
}
.tile {
    width: 32px; height: 32px;
    background-color: #333;
    display: inline-block;
    background-image: url(http://i.imgur.com/MZg0XUl.png);
    background-size: 480px;
}
.tile.block0 {
    background-color: #111;
    background-image: none;
}
.tile.block1 {
    background-position: -192px -32px;
}
.tile.block2 {
    background-position: -0 -256px;
}
.tile.block2-open {
    background-position: -32px -256px;
}
.tile.block3 {
    background-position: -224px -64px;
}
.tile.block4 {
    background-position: -128px -128px;
}
.tile.block5 {
    background-position: -96px 0;
}
.tile.block6 {
    background-position: -352px -128px;
}
.tile.block7 {
    background-position: -64px -64px;
}
.tile.block8 {
    background-position: -128px -128px;
}
.tile.block8-open {
    background-position: -192px -64px;
}